:root
{
  --bg-normal: hsl(245, 10%, 10%);
  --bg-light: hsl(245, 10%, 24%);
  --fg-normal: hsl(245, 10%, 40%);
  --board-size: 90vh;
  --border-size: 32px;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  background-color: var(--bg-normal);
  color: var(--fg-normal);
  font-family: system-ui, -apple-system, blinkmacsystemfont, 'segoe ui', roboto, oxygen, ubuntu, cantarell, 'open sans', 'helvetica neue', sans-serif;
}

#root
{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#board
{
  width: var(--board-size);
  height: var(--board-size);
  display: grid;
  grid-template-columns: var(--border-size) repeat(8, 1fr) var(--border-size);
  grid-template-rows: var(--border-size) repeat(8, 1fr) var(--border-size);
}

.square
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  cursor: crosshair;
}

.border
{
  border: none;
}

.numbers,
.letters
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.white
{
  background-color: var(--bg-light);
}

.hidden
{
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid transparent;
  transition: all 300ms;
  z-index: 99;
  position: absolute;
}

.square:hover .hidden
{
  background-color: rgba(0, 63, 255, 0.25);
  border-color: rgba(0, 63, 255, 1);
}

.text
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:hover .text
{
  color: white;
  text-shadow: 0px 0px 4px white, 0px 0px 12px white, 0px 0px 36px white;
}
